/* src/index.css */

@import './css/base.css';
@import './css/components.css';
@import './css/theme.css';
@import './css/Modal.css';
@import './css/EditorTop.css';
@import './css/sidebar.css';
@import './css/MarkdownEditor.css';

html, body, #root {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: transparent;
  color: var(--text);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body.opaque{
  background-color: var(--bg-dark);
}

.app-container {
  display: flex;
  height: 100%;
  overflow: hidden;
  background: rgba(1,1,1,0.5);
  box-sizing: border-box;
}

.sidebar {
  min-width: 200px;
  overflow-y: auto;
  background: transparent;
}
